.input-qty {
    width: 60px;
}

section {
    color: black;
}

table {
    width: 100%;
}

table td {
    text-align: center;
    /* Căn giữa nội dung trong cột */
}

table th {
    text-align: center;
    /* Căn giữa tiêu đề cột */
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #ffffff;
}

img {
    border: 1px solid black;
    border-radius: 20px;
}


.btn-delete {
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-right: 10px;
}

.btn-delete:hover {
    border: 1px solid red;
    background-color: red;
    color: white;
}

.text-right {
    text-align: right;
}

.text-right button {
    float: right;
    margin-right: 150px;
}

.breadcrumbs h1 {
    margin-left: 20px;
    margin-top: 50px;
}
table thead{
    background-color: #000000;
    color: white;
}
.pay-now{
    background-color: black;
    color: white;
    border: black;
}
.pay-now:hover{
    background-color:rgb(71, 69, 69);
}

.table-container tbody tr td {
    vertical-align: middle;
    /* Căn giữa dọc */
    text-align: center;
    /* Căn giữa ngang */
}

#page-footer {
    position: fixed;
    bottom: 0;
    width: 70%;
    background-color: white;
    height: 110px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: right;
    border-top: black 4px solid;
    border-right: black 4px solid;
    border-left: black 4px solid;
    border-radius: 20px 20px 0px 0px;
}

.div-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;
    padding: 10px;
    justify-content: center;
    display: flex;

}

.pay-now {
    background-color: black;
    color: white;
    border: black;
    font-weight: bold;
    font-size: 18px;
    width: 90%;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}
.input-qty {
width: 40px;
padding: 5px;
text-align: center;
border: 1px solid #ddd;
border-radius: 4px;
outline: none;
}
.quantity-btn {
background-color: black;
color: white;
border: none;
padding: 5px 13px;
cursor: pointer;
border-radius: 4px;
}