body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
  }
  
  form {
    text-align: center;
    border: 2px solid white;
    padding-bottom: 20px;
    width: 500px;
    height: max-content;
    border-radius: 20px;
    background-color: transparent;
  }
  
  .logoform {
    width: 20%;
    margin-bottom: -20px;
  }
  
  form h1 {
    margin-bottom: 30px;
    color: white;
  }
  
  .text {
    width: 80%;
    max-width: 350px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
  }
  
  .text2 {
    width: 40%;
    max-width: 175px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 30px 0 0 30px;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  
  .text3 {
    margin-top: 2px;
    width: 40%;
    max-width: 175px;
    height: 32px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 0 30px 30px 0;
  }
  
  .text3 option {
    color: black;
  }
  
  ::placeholder {
    color: white;
  }
  
  .dieukhoan {
    font-size: 90%;
    color: white;
  }
  
  .btnsignup {
    margin-top: 25px;
    cursor: pointer;
    background-color: transparent;
    margin: 10px auto 20px;
    width: 53%;
    height: 40px;
    color: white;
    font-size: 90%;
    font-weight: bold;
    border: 2px white solid;
    border-radius: 30px;
  }
  
  .btnsignup:hover {
    background-color: #000000;
  }
  
  .theterm {
    color: whitesmoke;
  }
  
  
  .div-anh {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* This ensures the image takes the full height of the container */
  }
  
  .anh-login {
    width: 80%;
    padding: 20px;
    border-radius: 5%;
    border: 2px black solid;
  }
  
  .div-no-login {
    display: flex;
    background-color: black;
    width: 100%;
    height: 600px;
  }
  
  .div-login {
    font-size: 20px;
    padding: 15px 15px;
    border: 1px solid transparent;
    width: 45%;
    display: flex;
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content */
  }
  
  .div-login .div-login-con {
    padding: 15px 15px;
    background-color: black;
    height: 100%;
    border-radius: 5%;
  }