/* 
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

header * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  left: 0;
  top: 0;
  z-index: 4;
}

.bi-bag-plus {
  font-size: 20px;
  font-weight: bold;
}

.Giohang:hover {
  background-color: transparent;
}

.nav {
  top: 0;
  background-color: black;
  height: 80px;
  width: 100%;
  position: fixed;
}

label.logo {
  color: #fcf2fa;
  font-size: 30px;
  line-height: 80px;
  padding: 0 80px;
  letter-spacing: -1px;
  font-weight: 800;
  font-style: italic;
  transition: .2s ease;
  text-shadow: 3px 5px 20px #ffffffaa;
}

label.logo a {
  color: #fcf2fa;
}

label.logo a:hover {
  background: none;
  color: white;
}

.nav .ul2 {
  float: right;
}

.nav .ul1 {
  margin-top: 1px;
  margin-right: 50px;
}

.nav .ul1 li {
  margin-left: 5px;
}

.nav ul {
  float: right;
}

.nav ul li {
  display: inline-block;
  line-height: 80px;
}

.nav ul li a {
  color: #fcf2fa;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 13px;
}

a.active,
.nav a:hover {
  background: #f0eaedaa;
  transition: .5s;
}

.checkbtn1 {
  line-height: 80px;
  font-size: 30px;
  float: right;
  cursor: pointer;
  padding-right: 10%;
  display: none;
}

.checkbtn2 {
  line-height: 67px;
  font-size: 30px;
  float: right;
  cursor: pointer;
  padding-right: 2%;
  display: none;
}

.checkbtn2 a:hover {
  background-color: transparent;
}

.bx-menu {
  color: #fcf2fa;
  padding: 5px;
  border-radius: 10px;
  transition: .5s ease;
}

.bi-bag-plus {
  color: #fcf2fa;
  padding: 5px;
  border-radius: 10px;
  transition: .5s ease;
}

.checkbtn1 i:hover {
  background: #f0eaedaa;
}

#check {
  display: none;
}

#check1 {
  display: none;
}


@media (max-width: 932px) {


  label.logo {
    font-size: 25px;
    padding-left: 50px;
  }

  .nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 858px) {


  .nav {
    width: 100%;
  }

  .checkbtn1 {
    display: block;
  }

  .checkbtn2 {
    display: block;
  }

  .nav ul {
    position: fixed;
    width: 100%;
    height: 120vh;
    background: rgba(3, 3, 3, 0.704);
    top: 80px;
    left: -100%;
    padding-top: 80px;
    text-align: center;
    transition: .5s ease;
  }

  .nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }

  .nav ul li a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    background: none;
    color: #fcf2fa;
    background: #f0eaedaa;
  }

  #check:checked~ul {
    left: 0;
  }

  .bi-search {
    display: none;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.search-header {
  border-radius: 30px;
  margin-right: 10px;
}

.text-search-header {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 30px;
  padding-left: 10px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding-right: 10px;
}

.text-search-header::placeholder {
  color: white;
}

.search-header .bi-search {
  font-size: 20px;
  background-color: transparent;
}

/* đóng headerrrrrr */




body {
  overflow-x: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* background-color: black; */
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* headerrrrrrrr */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

header * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  left: 0;
  top: 0;
  z-index: 4;
}

.bi-bag-plus {
  font-size: 20px;
  font-weight: bold;
}

.Giohang:hover {
  background-color: transparent;
}

.nav {
  top: 0;
  background-color: black;
  height: 80px;
  width: 100%;
  position: fixed;
}

label.logo {
  color: #fcf2fa;
  font-size: 30px;
  line-height: 80px;
  padding: 0 80px;
  letter-spacing: -1px;
  font-weight: 800;
  font-style: italic;
  transition: .2s ease;
  text-shadow: 3px 5px 20px #ffffffaa;
  /* font-family: 'Poppins', sans-serif; */
  /* margin-right: 54%; */
}

label.logo a {
  color: #fcf2fa;
}

label.logo a:hover {
  background: none;
  color: white;
}

.nav .ul2 {
  float: right;
  margin-right: 30px;
}

.nav .ul1 {
  margin-top: 1px;
  margin-right: 50px;
}

.nav .ul1 li {
  margin-left: 5px;
}

.nav ul {
  float: right;
}

.nav ul li {
  display: inline-block;
  line-height: 80px;
}

.nav ul li a {
  color: #fcf2fa;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 13px;
}

a.active,
.nav a:hover {
  background: #f0eaedaa;
  transition: .5s;
}

.checkbtn1 {
  line-height: 80px;
  font-size: 30px;
  float: right;
  cursor: pointer;
  padding-right: 10%;
  display: none;
}

.checkbtn2 {
  line-height: 67px;
  font-size: 30px;
  float: right;
  cursor: pointer;
  padding-right: 2%;
  display: none;
}

.checkbtn2 a:hover {
  background-color: transparent;
}

.bx-menu {
  color: #fcf2fa;
  padding: 5px;
  border-radius: 10px;
  transition: .5s ease;
}

.bi-bag-plus {
  color: #fcf2fa;
  padding: 5px;
  border-radius: 10px;
  transition: .5s ease;
}

.checkbtn1 i:hover {
  background: #f0eaedaa;
}

#check {
  display: none;
}

#check1 {
  display: none;
}

/* responsove code */
@media (max-width: 932px) {

  /* table mode */
  label.logo {
    font-size: 25px;
    padding-left: 50px;
  }

  .nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 858px) {

  /* mobile mode */
  .nav {
    width: 100%;
  }

  .checkbtn1 {
    display: block;
  }

  .checkbtn2 {
    display: block;
  }

  .nav ul {
    position: fixed;
    width: 100%;
    height: 120vh;
    background: rgba(3, 3, 3, 0.704);
    top: 80px;
    left: -100%;
    padding-top: 80px;
    text-align: center;
    transition: .5s ease;
  }

  .nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }

  .nav ul li a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    background: none;
    color: #fcf2fa;
    background: #f0eaedaa;
  }

  #check:checked~ul {
    left: 0;
  }

  .bi-search {
    display: none;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.search-header {
  border-radius: 30px;
  margin-right: 10px;
}

.text-search-header {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 30px;
  padding-left: 10px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding-right: 10px;
}

.text-search-header::placeholder {
  color: white;
}

.search-header .bi-search {
  font-size: 20px;
  background-color: transparent;
}

/* đóng headerrrrrr */


/* ---------------------------------------------- */

/* footerrrrrrr */
.container {
  max-width: 1170px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

hr {
  margin: auto;
  height: .5px;
  width: 95%;
  margin-bottom: 20px;
  border: none;
  background-color: #bbbbbb;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  padding: 50px 0;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  width: max-content;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
  background-color: transparent;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.qr-code {
  display: none;
  position: absolute;
  border-radius: 10px;
  left: 180px;
  top: -50px;
  max-width: 145px;
  height: auto;
}

.qr-logo:hover+.qr-code {
  display: block;
}

.qr-logo:hover {
  opacity: 1;
  /* giữ nguyên độ mờ của logo */
}

.txtseach {
  width: 150px;
  height: 25px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding-left: 5px;
  border-radius: 10px;
}

footer::placeholder {
  color: white;
}

.bi-search {
  color: white;
  /* background-color: rgba(208, 201, 201, 0.2); */
}

.footerend {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 30px;
}

.footerend span {
  margin-top: -7px;
  margin-right: 50px;
  font-size: 150%;
  font-weight: bold;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* đóng footerrrr */

a#scrollUp{
  background-color: black;
  border-radius: 50%;
}
