.div-anh {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* This ensures the image takes the full height of the container */
}

.anh-login {
    width: 80%;
    padding: 20px;
    border-radius: 5%;
    border: 2px black solid;
}

.div-no-login {
    display: flex;
    background-color: black;
    width: 100%;
    height: 600px;
}

.div-login {
    font-size: 20px;
    padding: 15px 15px;
    border: 1px solid transparent;
    width: 45%;
    display: flex;
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content */
}

.div-login .div-login-con {
    padding: 15px 15px;
    background-color: white;
    height: 100%;
    border-radius: 5%;
}

.ctn {
    margin-top: 100px;
    margin-bottom: 10%;
    padding: 0 20px;
}

table thead {
    background-color: black;
    color: white;
}

.detail {
    border: 1px solid black;
    padding: 7px 7px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 15px 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.pagination .page-link {
    color: #000;
}

.pagination .page-item.active .page-link {
    background-color: #000;
    color: #fff;
}

.pagination .page-link:hover {
    background-color: #000;
    color: #fff;
}

.pagination {
    text-align: center;
    /* Canh giữa phân trang */
    margin-top: 20px;
    /* Khoảng cách từ phân trang đến bảng */
}