.product-information {
    padding-top: 0px;
    padding-right: 100px;
}

.product-information span span {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.h1-name {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quantity {
    text-align: left;
    font-size: 15px;
    color: black;
}

.size {
    width: 60px;
    background-color: white;
    color: black;
    border: 1px black solid;
    border-radius: 5px;
    height: 30px;
}

.add-to-cart {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    margin-left: 0px;
}

.add-to-cart:hover {
    background: rgb(58, 57, 57);
    font-weight: bold;
    border-radius: 20px;
    height: 40px;
    width: 120px;
}

.recommended_items .add-to-cart:hover {
    background: rgb(58, 57, 57);
    font-weight: bold;
}

h2.title {
    color: black;
}

.item-control i {
    background: #000000;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50%;
}

.alert-danger {
    color: black;
    background-color: white;
    border-radius: 10px;
    border: solid 3px black;
}

.btn-send {
    background-color: black;
    color: white;
    font-weight: bold;
}

.btn-send:hover {
    background: rgb(58, 57, 57);
    color: white;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity-label {
    margin-right: 10px;
}

.input-group {
    display: flex;
}

.input-group button {
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #495057;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #e9ecef;
}

.quantity .input-qty {
    width: 45px;
    text-align: center;
}

.productinfo a {
    overflow: hidden;
    display: block;
}

.productinfo img {
    height: auto;
    object-fit: cover;
    transition: transform 0.5s;
    display: block;
}

.productinfo img:hover {
    transform: scale(1.2);
}

.view-product img {
    height: 100%;
}

.input-group button {
    background-color: black;
    border: 1px solid #ced4da;
    color: white;
    cursor: pointer;
    margin: 0 5px;
}

.input-group button:hover {
    background: rgb(58, 57, 57);
    color: white;
}

.btn-size.active {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.btn-size {
    border: 2px solid gray;
    background-color: white;
    color: black;
    padding: 6px 20px;
    margin-top: 10px;
}

.btn-size:hover {
    background-color: #000;
    color: #fff;
}