.full-height {
    height: 100%;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
padding: 8px;
line-height: 1.428571429;
vertical-align: top;
border-top: none;
}
.customer-info {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Điều chỉnh giá trị để tùy chỉnh độ đậm và kích thước của bóng */
    padding: 50px 50px; 
    margin-bottom: 40px;
}

.log-out{
    text-align: center;
    padding: 20px 15px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 5px;
}