table thead {
    background-color: black;
    color: white;
}

.search-results {
    margin-top: 100px;
}

.btn-success {
    margin-right: 5px;
}

h2 {
    color: black;
    margin-left: 10px;
}

.page-item.active .page-link {
    z-index: 1;
    color: white;
    background-color: black;
    border-color: gray;
}

.page-link {
    color: black;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.btn-primary,
.btn-detail,
.btn-update,
.btn-bill {
    background-color: black;
    color: white;
    border: grey;
}

.btn-primary:hover,
.btn-detail:hover,
.btn-update:hover,
.btn-bill {
    background-color: rgb(73, 73, 73);
}

.btn-bill {
    width: 170%;
    margin-top: 10px;
    background-color: black;
}

/* searchhhhhhhhhhhhhhhhhh */
.search-results {
    padding-left: 40px;
    padding-right: 20px;
}

.search-results h2 {
    margin-left: 0px;
    /* Đảm bảo tiêu đề không bị thụt vào bên trái quá mức */
}

.search-results table {
    margin-top: 20px;
    /* Thêm khoảng cách giữa tiêu đề và bảng */
}

.search-results th,
.search-results td {
    padding: 10px;
    /* Thêm padding cho ô trong bảng */
}
.cancelled-order {
    background-color: #ffeeba; /* Adjust the color as needed */
}