body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

table thead {
    background-color: black;
    color: white;
}

th,
td {
    padding: 10px;
    text-align: left;
}

.button-in {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
}

/* Print styles */
@media print {
    body {
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    table thead {
        background-color: black;
        color: white;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
    }

    .button-in {
        display: none;
    }

    header,
    footer {
        display: none;
    }

    .print-only {
        display: block;
    }
}

.hide-print {
    display: none;
}



/* #footer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#left_footer,
#right_footer {
    width: 48%;
}

#right_footer {
    text-align: right;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left_footer {
    text-align: right;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
} */