.btn-add ,.btn-update{
    background-color: black;
    color: white;
    border: gray;
}
.btn-add:hover , .btn-update:hover{
    background-color: rgb(73, 73, 73);
}
table thead {
    background-color: black;
    color: white;
}
.page-item.active .page-link {
    z-index: 1;
    color: white;
    background-color: black;
    border-color: gray;
}
.page-link {
    color: black;
    background-color: #fff;
    border: 1px solid #dee2e6;
}